.gradle
.idea
build/
/secrets
node_modules/

# Coverage script SHOULD remove this, but just in case, ignore it.
.cover/
coveragereport.txt

# Editor cruft
*.swp

# Build cruft
/dinghy
.armory-dependencies

infrastructure/.terraform
